---
---

@import "{{ site.theme }}";

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    font-size: 20px;
    color: #222;
}

.nav-item:hover, .nav-item:focus {
    color: #222;
    font-weight: bold;
}

.github-page {
    color:#bf0000;
    text-decoration:none;
}
  
.github-page:hover, .github-page:focus {
    color:#bf0000;
    font-weight: bold;
}

.demo-cover {
    display: flex;
    justify-content: center;
}

.demo-title {
    font-size: 16px;
    text-align: center;
}

.manga {
    display: flex;
}

.cover {
    width:191px;
    height:300px;
}

.info {
    margin-left: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.artists {
    font-size: 16px;
}

.chapter {
    font-size: 20px;
    color: #222;
}

.chapter:hover, .chapter:focus {
    color: #222;
    font-weight: bold;
}