---
---

@import "{{ site.theme }}";

.nav-bar {
    list-style-type: none;
}

.nav-item {
    font-size: 20px;
    color: #222;
}

.nav-item:hover, .nav-item:focus {
    color: #222;
    font-weight: bold;
}

.demo {
    list-style-type: none;
    display: inline-block;
}

.demo-title {
    font-size: 16px;
}

.manga {
    display: flex;
}

.cover {
    width:191px;
    height:300px;
}

.info {
    margin-left: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.artists {
    font-size: 16px;
}

.chapter {
    font-size: 20px;
    color: #222;
}

.chapter:hover, .chapter:focus {
    color: #222;
    font-weight: bold;
}

.pages {
    list-style-type: none;
}

.page {
    display: inline-block;
}
