<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" height="100px" />
        {% endif %}
        
        {% for language in site.data.nav %}
          {% if page.lang == language.lang %}
            <div class="nav-bar">
              {% for tab in language.route %}
                <a class="nav-item" href="{{ tab.link }}" {% if page.title==tab.title %}style="color: #bf0000;" {% endif %}>
                  {{ tab.name }}
                </a>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <div class="lang-bar">
          {% for language in site.data.lang %}
            {% for tab in language.route %}
              {% if page.title == tab.title %}
                <a class="lang-item" href="{{ tab.link }}" {% if page.lang==language.lang %}style="color: #bf0000;" {% endif %}>
                  {{ language.name }}
                </a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
        
        {% if page.lang == 'en' %}
          <p>Developed and maintained by <a class="github-page" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% else %}
          <p>由<a class="github-page" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>開發及維護</p>
        {% endif %}
        
        {% if page.lang == 'en' %}
          <p><small>Hosted on GitHub Pages</small></p>
        {% else %}
          <p><small>寄存於GitHub Pages</small></p>
        {% endif %}
      </footer>
    </div>
  </body>
</html>