<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" height="100px" />
        {% endif %}

        {% for nav in site.data.navigation %}
          {% if page.lang == nav.lang %}
            <div class="nav-bar">
              {% for route in nav.route %}
                <a class="nav-item" href="{{ route.link }}" {% if page.title==route.title %}style="color: #bf0000;" {% endif %}>
                  {{ route.name }}
                </a>
              {% endfor %}
            </div>
          {% endfor %}
        {% endfor %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% for tag in site.data.language %}
          {% if page.lang == tag.lang %}
            <div class="lang-bar">
              {% for route in tag.route %}
                {% if page.title == route.title %}
                  <a class="lang-item" href="{{ route.link }}" {% if page.lang==tag.lang %}style="color: #bf0000;" {% endif %}>
                    {{ route.name }}
                  </a>
                {% endfor %}
              {% endfor %}
            </div>
          {% endfor %}
        {% endfor %}

        <p>This project is maintained by <a class="github-page" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
  </body>
</html>