<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" height="100px" />
        {% endif %}

        {% if page.lang == "en" %}
          <div class="nav-bar">
            {% for item in site.data.navigation-en %}
              <a class="nav-item" href="{{ item.link }}" {% if page.title==item.title %}style="color: #bf0000;" {% endif %}>
                {{ item.name }}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        {% if page.lang == "zh" %}
          <div class="nav-bar">
            {% for item in site.data.navigation-zh %}
              <a class="nav-item" href="{{ item.link }}" {% if page.title==item.title %}style="color: #bf0000;" {% endif %}>
                {{ item.name }}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        {% if page.lang == "zh-HK" %}
          <div class="nav-bar">
            {% for item in site.data.navigation-zh-HK %}
              <a class="nav-item" href="{{ item.link }}" {% if page.title==item.title %}style="color: #bf0000;" {% endif %}>
                {{ item.name }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if page.title == "index" %}
          <div class="lang-bar">
            {% for item in site.data.language-index %}
              <a class="lang-item" href="{{ item.link }}" {% if page.lang==item.code %}style="color: #bf0000;" {% endif %}>
                {{ item.name }}
              </a>
            {% endfor %}
            </div>
        {% endif %}

        {% if page.title == "guide" %}
          <div class="lang-bar">
            {% for item in site.data.language-guide %}
              <a class="lang-item" href="{{ item.link }}" {% if page.lang==item.code %}style="color: #bf0000;" {% endif %}>
                {{ item.name }}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        {% if page.title == "terms" %}
          <div class="lang-bar">
            {% for item in site.data.language-terms %}
              <a class="lang-item" href="{{ item.link }}" {% if page.lang==item.code %}style="color: #bf0000;" {% endif %}>
                {{ item.name }}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        {% if page.title == "demo" %}
          <div class="lang-bar">
            {% for item in site.data.language-demo %}
              <a class="lang-item" href="{{ item.link }}" {% if page.lang==item.code %}style="color: #bf0000;" {% endif %}>
                {{ item.name }}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        {% if page.title == "manga" %}
          <div class="lang-bar">
            {% for item in site.data.language-manga %}
              <a class="lang-item" href="{{ item.link }}" {% if page.lang==item.code %}style="color: #bf0000;" {% endif %}>
                {{ item.name }}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        {% if page.title == "pages" %}
          <div class="lang-bar">
            {% for item in site.data.language-pages %}
              <a class="lang-item" href="{{ item.link }}" {% if page.lang==item.code %}style="color: #bf0000;" {% endif %}>
                {{ item.name }}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        <p>This project is maintained by <a class="github-page" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
  </body>
</html>